* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, 
a:active, 
a:hover, 
a:visited, 
a:link {
  text-decoration: none;
  color: inherit;
}

input, 
button {
  box-shadow: none;
  outline: none;
}